<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper 경로지정 -->
<mapper namespace="edu.global.ex.mapper.ListMapper">


	<insert id="insertBookList">
		<![CDATA[
			insert into yomi_item (id, title, price, publisher, datetime, contents, authors, thumbnail) 
			values (yomi_item_seq.nextval, #{title}, #{price}, #{publisher}, TO_DATE(#{datetime}, 'YYYY-MM-DD'), #{contents}, #{authors}, #{thumbnail})
		]]>
	</insert>

	<!-- VO객체와 데이터베이스 컬럼을 매핑 -->
	<resultMap id="imageMap" type="ImageVO">
		<id property="id" column="id" /> <!-- id = key (result로 해도 상관없음) -->
		<result property="image" column="image" />
		<result property="image_order" column="image_order" />
		<result property="item_id" column="item_id" />
	</resultMap>

	<resultMap id="itemMap" type="ItemVO">
		<id property="id" column="id" />
		<result property="title" column="title" />
		<result property="price" column="price" />
		<result property="publisher" column="publisher" />
		<result property="datetime" column="datetime" />
		<result property="star" column="star" />
		<result property="stock" column="stock" />
		<result property="contents" column="contents" />
		<result property="authors" column="authors" />
		<result property="translators" column="translators" />
		<result property="status" column="status" />
		<result property="thumbnail" column="thumbnail" />
		<result property="amount" column="amount" />
		<collection property="imageList" resultMap="imageMap"></collection> <!-- 1:N, List 매핑 -->
	</resultMap>   
	
	<!-- 신상품 리스트 -->
	<select id="getNewProductListCount" resultType="int">
		<![CDATA[
			SELECT count(*) FROM yomi_item where datetime >= to_char(add_months(sysdate,-36),'yyyy-mm-dd') 
        ]]>
		<include refid="criteria"></include>
		<include refid="year"></include>
		<include refid="month"></include>
	</select>
	
	<select id="getNewProductList" resultMap="itemMap">
		<![CDATA[
			SELECT * FROM (
    			SELECT ROWNUM AS RNUM, A.* FROM (
        			SELECT id, TO_CHAR(PRICE, '999,999') as price, title, thumbnail, star, publisher, authors, datetime, status, contents FROM yomi_item 
        			where datetime >= to_char(add_months(sysdate,-36),'yyyy-mm-dd') 
        			]]>
        			<include refid="criteria"></include>
        			<include refid="year"></include>
        			<include refid="sort"></include>
					<![CDATA[
    			) A WHERE ROWNUM <= #{pageNum} * #{amount}
    			]]>
    			<include refid="month"></include>
    			<![CDATA[
         	) WHERE RNUM > (#{pageNum}-1) * #{amount}
		]]>
	</select>

    <sql id="criteria">
    	<if test="type eq 'T'.toString()">
    		 and lower(title) LIKE lower('%'||#{keyword}||'%') 
    	</if>
    	<if test="type eq 'C'.toString()">
    		 and lower(contents) LIKE lower('%'||#{keyword}||'%') 
    	</if>
    	<if test="type eq 'A'.toString()">
    		 and lower(authors) LIKE lower('%'||#{keyword}||'%') 
    	</if>
    	<if test="type eq 'P'.toString()">
    		 and lower(publisher) LIKE lower('%'||#{keyword}||'%') 
    	</if>
    	<if test="category eq 'all'.toString()">
    		 
    	</if>
    	<if test="category eq 'nat'.toString()">
    		 and status LIKE '%국내%' 
    	</if>
    	<if test="category eq 'int'.toString()">
    		 and status LIKE '%해외%' 
    	</if>
    	<if test="category eq 'ebo'.toString()">
    		 and status LIKE '%ebook%' 
    	</if>
    </sql>
    
     <sql id="year">
     	<if test="year eq 'all'.toString()">
    		 
    	</if>
    	<if test="year eq '20'.toString()">
    		 and datetime between '20/01/01' and '20/12/31' 
    	</if>
    	<if test="year eq '21'.toString()">
    		 and datetime between '21/01/01' and '21/12/31' 
    	</if>
    	<if test="year eq '22'.toString()">
    		 and datetime between '22/01/01' and '22/12/31' 
    	</if>
    	<if test="year eq '23'.toString()">
    		 and datetime between '23/01/01' and '23/12/31' 
    	</if>
    </sql>
    
    <sql id="month">
    	<if test="month eq 'all'.toString()">
    		 
    	</if>
    	<if test="month eq '01'.toString()">
    		 and substr(to_char(datetime), 4, 2) = '01'
    	</if>
    	<if test="month eq '02'.toString()">
    		 and substr(to_char(datetime), 4, 2) = '02'
    	</if>
    	<if test="month eq '03'.toString()">
    		 and substr(to_char(datetime), 4, 2) = '03' 
    	</if>
    	<if test="month eq '04'.toString()">
    		 and substr(to_char(datetime), 4, 2) = '04' 
    	</if>
    	<if test="month eq '05'.toString()">
    		 and substr(to_char(datetime), 4, 2) = '05' 
    	</if>
    	<if test="month eq '06'.toString()">
    		 and substr(to_char(datetime), 4, 2) = '06' 
    	</if>
    	<if test="month eq '07'.toString()">
    		 and substr(to_char(datetime), 4, 2) = '07' 
    	</if>
    	<if test="month eq '08'.toString()">
    		 and substr(to_char(datetime), 4, 2) = '08' 
    	</if>
    	<if test="month eq '09'.toString()">
    		 and substr(to_char(datetime), 4, 2) = '09' 
    	</if>
    	<if test="month eq '10'.toString()">
    		 and substr(to_char(datetime), 4, 2) = '10' 
    	</if>
    	<if test="month eq '11'.toString()">
    		 and substr(to_char(datetime), 4, 2) = '11' 
    	</if>
    	<if test="month eq '12'.toString()">
    		 and substr(to_char(datetime), 4, 2) = '12' 
    	</if>
    </sql>
    
    <sql id="sort">
    	<if test="sort eq 'datetime'.toString()">
    		 order by datetime desc 
    	</if>
    	<if test="sort eq 'star'.toString()">
    		 order by star desc 
    	</if>
    	<if test="sort eq 'lowprice'.toString()">
    		 order by price 
    	</if>
    	<if test="sort eq 'highprice'.toString()">
    		 order by price desc 
    	</if>
    </sql>
    
    <!-- 베스트 리스트 -->
	<select id="getBestProductListCount" resultType="int">
		<![CDATA[
			SELECT count(*) FROM yomi_item where star >= 9.0
        ]]>
		<include refid="criteria"></include>
		<include refid="year"></include>
		<include refid="month"></include>
	</select>
	
	<select id="getBestProductList" resultMap="itemMap">
		<![CDATA[
			SELECT * FROM (
    			SELECT ROWNUM AS RNUM, A.* FROM (
        			SELECT id, TO_CHAR(PRICE, '999,999') as price, title, thumbnail, star, publisher, authors, datetime, status, contents FROM yomi_item 
        			where star >= 9.0 
        			]]>
        			<include refid="criteria"></include>
        			<include refid="year"></include>
        			<include refid="sort"></include>
					<![CDATA[
    			) A WHERE ROWNUM <= #{pageNum} * #{amount}
    			]]>
    			<include refid="month"></include>
    			<![CDATA[
         	) WHERE RNUM > (#{pageNum}-1) * #{amount}
		]]>
	</select>
	
	<!-- all 리스트 -->
	<select id="getAllProductListCount" resultType="int">
		<![CDATA[
			SELECT count(*) FROM yomi_item where id >= 0 
        ]]>
		<include refid="criteria"></include>
		<include refid="year"></include>
		<include refid="month"></include>
	</select>
	
	<select id="getAllProductList" resultMap="itemMap">
		<![CDATA[
			SELECT * FROM (
    			SELECT ROWNUM AS RNUM, A.* FROM (
        			SELECT id, TO_CHAR(PRICE, '999,999') as price, title, thumbnail, star, publisher, authors, datetime, status, contents FROM yomi_item 
        			where id >= 0 
        			]]>
        			<include refid="criteria"></include>
        			<include refid="year"></include>
        			<include refid="sort"></include>
					<![CDATA[
    			) A WHERE ROWNUM <= #{pageNum} * #{amount}
    			]]>
    			<include refid="month"></include>
    			<![CDATA[
         	) WHERE RNUM > (#{pageNum}-1) * #{amount}
		]]>
	</select>
	
	<select id="getProductDetail" resultMap="itemMap">
		<![CDATA[
			SELECT id, TO_CHAR(PRICE, '999,999') as price, title, thumbnail, star, publisher, authors, datetime, status, contents 
			FROM yomi_item where id = #{ id }
		]]>
	</select>
	
	<delete id="cartDeleteBeforeInsert">
		<![CDATA[
			DELETE FROM yomi_cart WHERE user_id = (select id from yomi_user where username = #{username}) and item_id = #{item_id}
		]]>
	</delete>
	
	<insert id="cartInsert">
		<![CDATA[
			insert into yomi_cart (id, user_id, item_id, amount) 
				values (yomi_cart_seq.nextval, (select id from yomi_user where username = #{username}), #{item_id}, #{amount})
		]]>
	</insert>
	
	<select id="getCartList" resultMap="itemMap">
		<![CDATA[
			select i.id, i.title, i.price, i.publisher, i.authors, i.thumbnail, c.amount from yomi_item i, yomi_cart c, yomi_user u
			where u.id = (select id from yomi_user where username = #{username})
			and u.id = c.user_id
			and i.id = c.item_id
		]]>
	</select>
	
	<select id="getCartListSS" resultMap="itemMap">
		<![CDATA[
			select * from yomi_item where id = #{ item_id }
		]]>
	</select>
	
	<insert id="insertCartSS">
		<![CDATA[
			insert into yomi_cart (id, user_id, item_id, amount) 
				values (yomi_cart_seq.nextval, (select id from yomi_user where username = #{username}), #{item_id}, 1)
		]]>
	</insert>
	
	<delete id="cartDelCh">
		<![CDATA[
			DELETE FROM yomi_cart WHERE user_id = (select id from yomi_user where username = #{username}) and item_id = #{item_id}
		]]>
	</delete>
	
	<delete id="cartDelAll">
		<![CDATA[
			DELETE FROM yomi_cart WHERE user_id = (select id from yomi_user where username = #{username})
		]]>
	</delete>
</mapper>