<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper 경로지정 -->
<mapper namespace="edu.global.ex.mapper.LoginMapper">

	<!-- VO객체와 데이터베이스 컬럼을 매핑 -->
	<resultMap id="authMap" type="AuthVO">
		<id property="id" column="id" /> <!-- id = key (result로 해도 상관없음) -->
		<result property="authority" column="authority" />
		<result property="user_id" column="user_id" />
	</resultMap>

	<resultMap id="userMap" type="MemberVO">
		<id property="id" column="id" />
		<result property="password" column="password" />
		<result property="username" column="username" />
		<result property="name" column="name" />
		<result property="tel" column="tel" />
		<result property="postnumber" column="postnumber" />
		<result property="city" column="city" />
		<result property="street" column="street" />
		<result property="location" column="location" />
		<result property="point" column="point" />
		<result property="logintime" column="logintime" />
		<result property="enabled" column="enabled" />
		<result property="account" column="account" />
		<result property="bank" column="bank" />
		<collection property="authList" resultMap="authMap"></collection> <!-- 1:N, List 매핑 -->
	</resultMap>   
	
 	<select id="getUser" resultMap="userMap">
		<![CDATA[
			SELECT * FROM yomi_user, yomi_auth 
      		WHERE yomi_user.id = yomi_auth.user_id AND yomi_user.USERNAME = #{username}
		]]>
	</select>
	
	 <select id="idCheck" resultType="int">
		<![CDATA[
			select count(*) as count from yomi_user where username = #{username}
		]]>
	</select>
	
	<insert id="signupMember">
		<![CDATA[
			insert all
				into yomi_user (id, username, password, name, tel) 
				values (yomi_user_seq.nextval, #{username}, #{password}, #{name}, #{tel})
				into yomi_auth (id, authority, user_id)
				values (yomi_auth_seq.nextval, 'ROLE_MEMBER', yomi_user_seq.currval)
			select * from dual
		]]>
	</insert>
	
	<insert id="signupSocialLogin">
		<![CDATA[
			insert all
				into yomi_user (id, username, password, name) 
				values (yomi_user_seq.nextval, #{username}, #{password}, #{name})
				into yomi_auth (id, authority, user_id)
				values (yomi_auth_seq.nextval, 'ROLE_MEMBER', yomi_user_seq.currval)
			select * from dual
		]]>
	</insert>
	
	<select id="findId" resultMap="userMap">
		<![CDATA[
			SELECT username FROM yomi_user 
      		WHERE name = #{name} and tel = #{tel}
		]]>
	</select>
	
</mapper>