<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper 경로지정 -->
<mapper namespace="edu.global.ex.mapper.NoticeMapper">

	<resultMap id="boardCategoryMap" type="BoardCategoryVO">
		<id property="id" column="id" />
		<result property="board_name" column="board_name" />
	</resultMap>

	<resultMap id="boardMap" type="BoardVO">
		<id property="id" column="id" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="written_date" column="written_date" />
		<result property="hit" column="hit" />
		<result property="user_id" column="user_id" />
		<result property="name" column="name" />
		<result property="board_number" column="board_number"/>
		<collection property="boardCategoryList" resultMap="boardCategoryMap"></collection>
		<collection property="userList" resultMap="userMap"></collection> <!-- 1:N, List 매핑 -->
	</resultMap>

	<!--usermapper-->
	<resultMap id="authMap" type="AuthVO">
		<id property="id" column="id" /> <!-- id = key (result로 해도 상관없음) -->
		<result property="authority" column="authority" />
		<result property="user_id" column="user_id" />
	</resultMap>

	<resultMap id="userMap" type="MemberVO">
		<id property="id" column="id" />
		<result property="password" column="password" />
		<result property="username" column="username" />
		<result property="name" column="name" />
		<result property="tel" column="tel" />
		<result property="postnumber" column="postnumber" />
		<result property="city" column="city" />
		<result property="street" column="street" />
		<result property="location" column="location" />
		<result property="point" column="point" />
		<result property="logintime" column="logintime" />
		<result property="enabled" column="enabled" />
		<result property="account" column="account" />
		<result property="bank" column="bank" />
		<collection property="authList" resultMap="authMap"></collection> <!-- 1:N, List 매핑 -->
	</resultMap>




	<!--
	<select id="getUser" resultMap="userMap">
		<![CDATA[
			SELECT * FROM yomi_user, yomi_auth
      		WHERE yomi_user.id = yomi_auth.user_id AND yomi_user.USERNAME = #{username}
		]]>
	</select>
	-->

	<!-- VO객체와 데이터베이스 컬럼을 매핑 -->
	<select id="getCenterList" resultMap="boardMap">
		<![CDATA[
		select b.title, b.id, u.name, b.written_date 
		from yomi_board b, yomi_user u 
		where b.user_id = u.id 
		and b.board_number = 1 
		and ROWNUM <= 3
		]]>
	</select>



	<select id="read" resultType="BoardVO">
		<![CDATA[
			select * from yomi_board where id = #{id}
		]]>
	</select>

	<select id="read_prev" resultType="BoardVo">
		<![CDATA[
		select * from yomi_board where id = (select max(ID) from YOMI_BOARD where ID<#{id})
		]]>
	</select>

	<select id="read_next" resultType="BoardVo">
		<![CDATA[
		select * from yomi_board where id = (select min(ID) from YOMI_BOARD where ID>#{id})
		]]>
	</select>



	<select id="getListWithPaging" resultMap="boardMap">
		<![CDATA[
			SELECT * FROM (
			    SELECT ROWNUM AS RNUM, A.* FROM (
			        SELECT b.title, b.content, u.name, b.id, b.written_date 
			        FROM yomi_board b, yomi_user u 
			        where BOARD_NUMBER = 1 
			        and (TITLE LIKE '%'||#{keyword}||'%' or CONTENT LIKE '%'||#{keyword}||'%') 
			        and b.user_id = u.id
					]]>
					<include refid="searchThis"></include>
					<![CDATA[
				) A WHERE ROWNUM <= #{pageNum} * #{amount}
			) WHERE RNUM > (#{pageNum} - 1) * #{amount}
		]]>
	</select>

	<select id="getTotalCount" resultType="int">
		<![CDATA[
		select count(*) from yomi_board
		where BOARD_NUMBER = 1 
		and (TITLE LIKE '%'||#{keyword}||'%' or CONTENT LIKE '%'||#{keyword}||'%') 
		]]>
		<include refid="searchThis"></include>
	</select>


	<select id="getEventListCount" resultType="int">
		<![CDATA[
			select count(*)  
			from yomi_event e, yomi_board b, yomi_boardcategory c, yomi_addfile f 
			where e.board_id = b.id 
			and b.board_number = c.id
			and b.id = f.board_id
			and c.id = 401
			and lower(e.event_name) LIKE lower('%'||#{keyword}||'%') 
		]]>
		<include refid="eventCategory"></include>
	</select>
	
	<select id="getEventList" resultType="EventVO">
		<![CDATA[
			SELECT * FROM (
			    SELECT ROWNUM AS RNUM, A.* FROM (
			        select e.event_name, e.event_start, e.event_end, e.discount,e.board_id, b.title, f.file_path  
					from yomi_event e, yomi_board b, yomi_boardcategory c, yomi_addfile f 
					where e.board_id = b.id 
					and b.board_number = c.id
					and b.id = f.board_id
					and c.id = 401
					and lower(e.event_name) LIKE lower('%'||#{keyword}||'%') 
					]]>
					<include refid="eventCategory"></include>
					<![CDATA[
				) A WHERE ROWNUM <= #{pageNum} * #{amount}
			) WHERE RNUM > (#{pageNum} - 1) * #{amount}
		]]>
	</select>
	
	<sql id="eventCategory">
    	<if test="category eq ''.toString()">
    		 
    	</if>
    	<if test="category eq 'ing'.toString()">
    		 and (event_start <![CDATA[<]]> sysdate and event_end <![CDATA[>]]> sysdate) 
    	</if>
    	<if test="category eq 'end'.toString()">
    		 and (event_start <![CDATA[>]]> sysdate or event_end <![CDATA[<]]> sysdate)
    	</if>
    </sql>
    
    <select id="getEventDetail" resultType="EventVO">
		<![CDATA[
			select b.title, b.content, b.written_date, f.file_path, e.event_name, e.event_start, e.event_end 
			from yomi_board b, yomi_addfile f, yomi_event e 
			where b.id = #{id}
			and b.id = f.board_id
			and b.id = e.board_id
		]]>
	</select>
    
    <select id="getFAQ" resultMap="boardMap">
		<![CDATA[
			SELECT * FROM (
			    SELECT ROWNUM AS RNUM, A.* FROM (
			        SELECT * from yomi_board 
			        where board_number in (22, 23, 24, 25, 26, 27, 28, 29)
			        and (TITLE LIKE '%'||#{keyword}||'%' or CONTENT LIKE '%'||#{keyword}||'%')
					]]>
					<include refid="searchThis"></include>
					<![CDATA[
				) A WHERE ROWNUM <= #{pageNum} * #{amount}
			) WHERE RNUM > (#{pageNum} - 1) * #{amount}
		]]>
	</select>

	<select id="getTotalFAQ" resultType="int">
		<![CDATA[
		SELECT count(*) from yomi_board 
		where board_number in (22, 23, 24, 25, 26, 27, 28, 29)
		and (TITLE LIKE '%'||#{keyword}||'%' or CONTENT LIKE '%'||#{keyword}||'%') 
		]]>
		<include refid="searchThis"></include>
	</select>
	
    <sql id="searchThis">
    	<if test="category eq ''.toString()">
    		 
    	</if>
    	<if test="category eq '22'.toString()">
    		 and board_number = 22 
    	</if>
    	<if test="category eq '23'.toString()">
    		 and board_number = 23 
    	</if>
    	<if test="category eq '24'.toString()">
    		 and board_number = 24 
    	</if>
    	<if test="category eq '25'.toString()">
    		 and board_number = 25 
    	</if>
    	<if test="category eq '26'.toString()">
    		 and board_number = 26 
    	</if>
    	<if test="category eq '27'.toString()">
    		 and board_number = 27 
    	</if>
    	<if test="category eq '28'.toString()">
    		 and board_number = 28 
    	</if>
    	<if test="category eq '29'.toString()">
    		 and board_number = 29 
    	</if>
    </sql>
    
    <insert id="insertQnaBoard">
    	<![CDATA[
			insert into yomi_board (id, title, content, written_date, hit, user_id, board_number) 
			values (yomi_board_seq.nextval, #{title}, #{content}, sysdate, 0, (select id from yomi_user where username = #{username}), 331)
		]]>
    </insert>
    
    <insert id="insertQnaImage">
    	<![CDATA[
			insert into yomi_addfile (id, file_name, file_path, BOARD_ID) 
			values (yomi_addfile_seq.nextval, #{file_name}, #{file_path}, yomi_board_seq.CURRVAL)
		]]>
    </insert>

</mapper>