<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper 경로지정 -->
<mapper namespace="edu.global.ex.mapper.OrderMapper">

	<insert id="insertOrder">
		<![CDATA[
			insert all
				into yomi_order (id, order_date, user_id) 
				values (#{orderNum}, sysdate, (select id from yomi_user where username = #{username}))
				
				into yomi_pay (id, pay_date, pay_result, order_id)
				values (yomi_pay_seq.nextval, sysdate, 'paid', #{orderNum})
				
				into yomi_delivery (id, delivery_state, order_id)
				values (yomi_delivery_seq.nextval, '준비중', #{orderNum})
				
				into yomi_orderdetail (amount, recipient_name, recipient_postnumber, recipient_city, recipient_street, recipient_location, item_id, order_id, total_price, orderlist)
				values (#{amountList}, #{name}, #{postcode}, #{address}, #{extraAddress}, #{detailAddress}, #{itemIdList}, #{orderNum}, #{amount}, #{orderList})
			select * from dual
		]]>
	</insert>
	
	<delete id="deletePaidCart">
		<![CDATA[
			DELETE FROM yomi_cart WHERE user_id = (select id from yomi_user where username = #{username}) and item_id in
		]]>
		<foreach collection="orderList" item="arr" open="(" close=")" separator=",">
		    #{arr}
		</foreach>
	</delete>
	
	<insert id="insertOrderNotMember">
		<![CDATA[
			insert all
				into yomi_order (id, order_date) 
				values (#{orderNum}, sysdate)
				
				into yomi_pay (id, pay_date, pay_result, order_id)
				values (yomi_pay_seq.nextval, sysdate, 'paid', #{orderNum})
				
				into yomi_delivery (id, delivery_state, order_id)
				values (yomi_delivery_seq.nextval, '준비중', #{orderNum})
				
				into yomi_orderdetail (amount, recipient_name, recipient_postnumber, recipient_city, recipient_street, recipient_location, item_id, order_id, total_price)
				values (#{amountList}, #{name}, #{postcode}, #{address}, #{extraAddress}, #{detailAddress}, #{itemIdList}, #{orderNum}, #{amount})
				
				into yomi_nonmember (name, tel, order_id, email, password) 
				values (#{name}, #{phone}, #{orderNum}, #{email}, #{password})
			select * from dual
		]]>
	</insert>
	
	<select id="getNonmemberOrderList" resultType="OrderVO">
		<![CDATA[
			select o.id, o.order_date, d.*, v.*, i.title, i.thumbnail, n.password 
			from yomi_order o, yomi_orderdetail d, yomi_pay p, yomi_delivery v, yomi_item i, yomi_nonmember n 
			where o.id in (select order_id from yomi_nonmember where name = #{name} and tel = #{phone}) 
			and o.id = d.order_id
			and o.id = p.order_id
			and o.id = v.order_id
			and i.id = d.item_id
			and n.order_id = o.id
		]]>
	</select>

	<update id="updatePoint">
		<![CDATA[
			UPDATE yomi_user 
			SET point = #{point} + point 
			WHERE id = (select id from yomi_user where username = #{username})
		]]>
	</update>
</mapper>