@charset "UTF-8";

body {
	margin: 0 auto;
	width: 80%;
}

.title {
	font-size: 30px;
	font-weight: bolder;
}

.notice {
	font-size: 17px;
	font-weight: bold;
}

#btnOk {
	background-color: #424874; 
	border: 1px solid #424874; 
	color: #DCD6F7;
}

#btnCancle {
	background-color: #A6B1E1;
	border: 1px solid #A6B1E1; 
}

/* 
라디오버튼 선택했을 때 색상 변경하고 싶은데 변경이 안됨 ㅠ 힝. .. .

.form-check-input:checked {
    background-color: #424874;
    border-color: #424874;
} */

#phoneTextarea1 {
	display: block;
}
#emailTextarea2 {
	display: none;
}