@charset "UTF-8";

body{
	margin: 0 auto;
	width: 80%;
}

.title{
	font-size: 30px;
	font-weight: 500;
}

.searchForm{
	width: 400px;
}

.searchBtn {
	position: relative;
	width: 2em;
	top: -2em;
	right: -26em;
	margin: 0;
	padding: 0;
	border: hidden;
	background-color: white;
}

.searchBtn>i {
	color: #bbb;
}

.searchControl {
	width: 100%;
	border: 1px solid #bbb;
	border-radius: 5px;
	padding: 0.63em 0.75em;
	font-size: 0.88em;
}

.btn-primary {
	background-color: #424874;
	color: #F4EEFF;
	border: 1px solid #DCD6F7;
	width: 200px;
}

.count{
	font-size: 17px;
	color: #424874;
	font-weight: 500;
}

.eventTitle {
	font-size: 15px;
	font-weight: bold;
	color: #424874;
}

.period {
	font-size: 12px;
	color: #A6B1E1;
}
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: var(--bs-btn-active-color);
    background-color: #424874;
    border-color: #424874;
}
.btn {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: #212529;
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: #A6B1E1;
    --bs-btn-border-radius: 0.375rem;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: #424874;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid #424874;
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.active>.page-link{
	background-color: #424874;
    border-color: #424874;
}
.page-link:hover{
	background-color: #424874;
	color: white;
}
.page-link{
	color: #424874;
	padding: 0 10px 0 10px;

}