@charset "UTF-8";

body{
	margin: 0 auto;
	width: 80%;
}

.title{
	font-size: 30px;
	font-weight: 500;
}
.searchForm{
	width: 400px;
}
.searchBtn {
	position: relative;
	width: 2em;
	top: -2em;
	right: -26em;
	margin: 0;
	padding: 0;
	border: hidden;
	background-color: white;
}
.searchBtn>i {
	color: #bbb;
}
.searchControl {
	width: 100%;
	border: 1px solid #bbb;
	border-radius: 5px;
	padding: 0.63em 0.75em;
	font-size: 0.88em;
}
/* .event-search-area, .event-search-btn {
	display: flex;
	justify-content: flex-end;
} */
/* .event-search-form, .event-search-control { width: 400px;} */
/* .event-search-btn { 
	display: flex;
	justify-content: flex-end; } */