@charset "UTF-8";

body{
	margin: 0 auto;
	width: 80%;
}

.title{
	font-size: 30px;
	font-weight: bolder;
}

.notice{
	font-size: 17px;
	font-weight: bold;
}

.qnaMenu{
	font-size: 14px;
}
/* 고객센터번호, 근무시간 등 */
.customerInfo{
	font-size: 15px;
	font-weight: 500;
}

.customerInfo2{
	font-size:15px;
}

.custmomerNum{
	font-size: 18px;
	color: #A6B1E1;
	font-weight: bold;
}

.table{
	text-align: center;
	width: 700px;
}

.btn{
	/* background-color: #A6B1E1; 
	color: #424874; */
	background-color: #424874; 
	color: #A6B1E1;
}

.accordion-button:active, .accordion-button:focus, .accordion-button {
    outline:none !important;
    box-shadow:none !important;
    background: none !important;
}