body { 
	width: 80%;
	margin: 0 auto;
}

header {
	width: 100%; 
}
.rightNav {
	display: flex;
	justify-content: flex-end;
	margin: 3em 1em 0 0;
}
.rightNav li {
	width: 5em;
	text-align: center;
	padding: 0;
}
.header {
	width: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
}
.logo {
	width: 9em;
	margin-left: 4em;
	margin-bottom: 1em;
}
.logo img {
	margin-top: 1em;
	width: 7em;
	height: 7em;
}
.search-form{
	position: relative;
	width: 50em;
}

.search-control {
	width: 100%;
	border: 1px solid #bbb;
	border-radius: 5px;
	padding: 0.63em 0.75em;
	font-size: 0.88em;
}
.search-btn {
	position: absolute;
	width: 2em;
	top: 0.6em;
	right: 1.2em;
	maring: 0;
	padding: 0;
	border: hidden;
	background-color: white;
}
.search-btn>i {
	color: #bbb;
}
.container-fluid {
	display: felx;
	justify-content: flex-start;
}
.navbar-head { border-bottom: 1px solid #bbb;}
.nav-link { font-size: 1.5em; margin-right: 1em;}
.material-symbols-outlined {font-size: 2.5em;}
.nav-link:hover, .navbar-menu:hover {color: #A6B1E1;}
