body { 
	width: 80%;
	margin: 0 auto;
}

header {
	width: 100%; 
}
.rightNav {
	display: flex;
	justify-content: flex-end;
	margin: 3em 1em 0 0;
}
.rightNav li {
	width: 5em;
	text-align: center;
	padding: 0;
}
.header {
	width: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header-icon, .header-icon>a>i{
	display: flex;
	justify-content: flex-end;
	text-align: right;
}

/* .header_logo {
	width: 9em;
	margin-left: 3.5em;
	margin-bottom: 1em;
} */
.header_logo img {
	display: flex;
	justify-content: center;
	align-content: center;
	margin-top: 1em;
	width: 7.5em;
	height: 8.5em;
}
@media (max-width: 800px) {
	.header_logo img {
		display: flex;
		justify-content: center;
		align-content: center;
		margin-top: 1em;
		width: 3.75em;
		height: 4.25em;
	}
}
.search_form{
	position: relative;
	width: 50em;
}

.search_control {
	width: 100%;
	border: 1px solid #bbb;
	height: 38px;
	border-radius: 19px;
	padding: 0.63em 0.75em;
	font-size: 0.88em;
	padding: 0 50px 0 110px;
}
.search_btn {
	position: absolute;
	width: 2em;
	top: 0.6em;
	right: 1.5em;
	margin: 0;
	padding: 0;
	border: hidden;
	background-color: white;
}
.search_btn>i {
	color: #bbb;
}
.navbar_menu {
	padding: 8px;
	width: 40px;
	height: 50px;
	vertical-align: center;
	margin-right: 10px;
}
.justify_content_end {
	width: 200px;
	display: flex;
	justify-content: flex-end;
}
.container_fluid {
	height: 60px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 1.5em;
}
li>a{height:30px;}
.navbar_menu{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px; height: 50px;
	cursor: pointer;
}
.justify_content_end { 
	width: 100px;
}
.menuBody{
	position: absolute;
	left: 11.5vw;
	display: none;
	background-color: white;
	z-index: 100;
	width: 75vw;
	padding: 3vw;
	border: 2px solid #424874;
	border-radius: 20px;
}
.col2 {width: 20px;}
.navbar_collapse {height: 50px;}
.header_icon {align-items: right;}
.navbar_head { border-bottom: 1px solid #bbb;}
.nav_link { margin-right: 1em; height: 50px;}
.material_symbols_outlined {font-size: 2.5em;}
.nav_item:hover, .navbar_menu:hover {color: #A6B1E1;}
@media (max-width: 992px) {
	.nav_link{
		display: none !important;
	}
}

body::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
     /* 스크롤바의 길이 */
    background: #424874; /* 스크롤바의 색상 */
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: white;  /*스크롤바 뒷 배경 색상*/
}

/* Header */
.offcanvas-body::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

.offcanvas-body::-webkit-scrollbar-thumb {
     /* 스크롤바의 길이 */
    background: #424874; /* 스크롤바의 색상 */
    border-radius: 10px;
}

.offcanvas-body::-webkit-scrollbar-track {
    background: white;  /*스크롤바 뒷 배경 색상*/
}
.xi-cart-o, .xi-user-o{
	color: #424874;
}
.xi-cart-o:hover, .xi-user-o:hover{
	color: #DCD6F7;
}
.selectCategory2{
	border: none !important;
	border-radius: 13.5px !important;
	position: absolute;
	top: 5px;
	left: 18px;
	font-size: 10px !important;
	width: 100px !important;
}
.selectCategory2:active, .selectCategory2:focus{
	outline: none !important; 
	box-shadow: none !important;
}
.searchBody{
	width: 70vw;
	height: 70vh;
	position: absolute;
	top: 158px;
	left: 15vw;
	border: 1px solid black;
	border-radius: 15px;
	background-color: white;
	z-index: 101;
	padding: 20px;
	overflow: auto;
	
}
.searchBody::-webkit-scrollbar {
	display: none;
}

.bookName {
	font-size: 16px;
	font-weight: bold;
	color: #424874;
}

.bookAuthor {
	font-size: 11px;
	font-weight: 500;
	color: #A6B1E1;
}

.bookCost {
	font-size: 11px;
	font-weight: 600;
	color: #424874;
}