body{ margin: 0 auto; }
.clearfix {
  clear: both
}

.container {
  margin: 15px auto;
  overflow: hidden;
  width: 460px;
  padding: 30px 10px 10px;
}
.global-cont {
  width: 420px;
  margin: auto;
  padding: 20px;
}
.inner-cont {
  margin: auto;
  overflow: hidden;
  width: 400px;
  text-align: center;
}
.inner-cont .sign {
  overflow: hidden;
}


.inner-cont .sign-in-up {
  padding: 25px;
}
.inner-cont .sign-in-up form {
  overflow: hidden;
  display: none;
}
.inner-cont .sign-in-up form > span,
.inner-cont .sign-in-up form > a {
  float: left;
  width: 50%;
  font-size: 1em;
}
.inner-cont .sign-in-up form > span {
  text-align: left;
}
.inner-cont .sign-in-up form > a {
  text-align: right;
  text-decoration: none;
  color: #424874;
}
.inner-cont .sign-in-up form > a:hover {
  text-decoration: underline;
}
.inner-cont .sign-in-up form input:not([type="checkbox"]) {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #C2C7D0;
  border-radius: 5px;
  box-sizing: border-box
}
.inner-cont .sign-in-up form input[type="submit"]{
  margin-top: 10px;
  background-color: #424874;
  color: #FFF;
  font-size: 18px;
  cursor: pointer;
  transition: .3s
}
.inner-cont .sign-in-up form.active {
  display: block;
}
.inner-cont .divider {
  position: relative;
  margin-bottom: 15px;
}
.inner-cont .divider::after{
  content: "";
  height: 1px;
  width: 100%;
  background-color: #C2C7D0;
  position: absolute;
  top: 9px;
  left: 0;
}

.policy {
  	font-size: 1em;
  	margin: 30px 0;
	color: grey;
}
.inner-cont .sign-in-up form input[type="submit"]:hover  {
  opacity: .7
}

.sign { margin-top: 10px;}
label{ margin-left: 5px;}
.btn-social-icon {
	width: 40px; height: 40px;
	margin: 0 10px;
	background-color: #424874;
	color: #fff;
	border-radius: 100px;
}
.btn-social-icon:hover { 
	color: #424874; 
	border: 2px solid #424874; 
}
.check {display: flex; align-content: center;}
.social-login{ margin: 20px 0;}
.btn-social-icon>span{
	display:flex;
	justify-content: center;
	align-item: center;
	padding-top:5px;
}

.sign-up-button button {
	width: 100%;
	height: 40px;
	margin: 10px 0;
	background-color: #D3D3D3;
	font-size: 18px;
	cursor: pointer;
	border: 1px solid #D3D3D3;
	border-radius: 5px;
	color: 	#696969;
}
.sign-up-button button:hover{
	background-color: #424874;
	color: #fff;
	
}
.Non-member-order {
	margin-top: 40px;
}