@charset "UTF-8";

main{
	
}
#breadcrumb{
	padding: 15px;
}
.profileContainer{
	padding: 40px;
}
.profile{
	width: 225px;
	background-color: #F4EEFF;
}
.name{
	font-size: 20px;
	margin: 10px;
}
.menuText{
	font-size: 15px;
	padding: 40px;
}
.menuTitle{
	font-size: 18px;
	font-weight: bolder;
}
.recCard{
	margin-top: 20px;
	padding: 9px;
	height: 15vw;
	width: 15vw;
}
.categoryText{
	padding: 20px;
	font-size: 30px;
	font-weight: bolder;
	/* background-color: #F4EEFF; */
}
.pointCard{
	width: 50%;
	font-size: 20px;
}
.pointCard2{
	width: 100%;
	font-size: 20px;
	background: #F4EEFF;
}
.aTag{
	padding: 0;
}
.libList{
	height: 150px;
	background-color: #424874;
	color: white;
}
.addListBox{
	padding: 16px 16px 16px 4px;
}
.addList{
	height: 100%;
}
.addHref{
	margin-bottom: 8px;
	height: 150px;
}
.goGuide{
	margin-right: 4px;
	height: 150px;
	background-color: #A6B1E1;
}
.goLibrary{
	margin-left: 4px;
	height: 150px;
	background-color: #DCD6F7;
}
.continue{
	height: 100%;
	background-color: #F4EEFF;
}
.explText{
	height: 100%;
}
.pageText{
	color: black;
}
.accordion-button:active, .accordion-button:focus, .accordion-button {
    outline:none !important;
    box-shadow:none !important;
    background: none !important;
}
/* userupdate페이지  */
.updateBtn{
	width: 76px; 
	height: 38px; 
	line-height: 38px;
	background-color: #424874;
	border-radius: 10px;
	color: white;
	cursor: pointer;
}
.resetBtn{
	width: 100%;
	height: 40px;
	line-height: 38px;
	background-color: #DCD6F7;
	border-radius: 10px;
	font-size: 20px;
	border: none;
}
.submitBtn{
	width: 100%;
	height: 40px;
	line-height: 38px;
	background-color: #424874;
	border-radius: 10px;
	font-size: 20px;
	border: none;
	color: white;
}
.resetBtn:hover {
	color: white;
}
.submitBtn:hover {
	color: #DCD6F7;
}
.loginSet{
	width: 150px; 
	height: 38px; 
	line-height: 38px;
	background-color: #424874;
	border-radius: 10px;
	color: white;
	cursor: pointer;
}
/* library페이지 */
.firstPageBtn,.continuingBtn{
	width: 100%;
	height: 38px;
	border: none;
	border-radius: 10px;
}
.firstPageBtn{
	background-color: #424874;
	color: white;
}
.continuingBtn{
	background-color: #DCD6F7;
}
.firstPageBtn:hover {
	color: #DCD6F7;
}
.continuingBtn:hover {
	color: white;
}