body {
	margin: 0 auto;
}
section {
	display: flex;
	justify-content: flex-start;
}
.pay-content{
	width: 80%;
	padding: 30px;
}
.unknow-pay{
	font-size: 2em;
	font-weight: 800;
	margin: 20px 0;
}
.pay-content-head {
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content:center;
	background-color: #efefef;
	border-radius: 10px;
	height: 120px;
	font-size: 1.1em;
}
.pay-content-head p{
	display: flex;
	justify-content: center;
	align-items: center;
}
.pay-content-head i {
	color: #808080;
	font-size: 0.8em;
	margin: 0 10px;
}
.pay-head-btn{
	display:flex;
	justify-content: center;
	
}
.pay-head-btn>a{
	margin: 10px 10px 0 0;
	width: 100px;
	height: 40px;
}
.pay-head-btn>.pay-btn1{
	border: 1px solid #424874;
	background-color: #fff;
	color: #424874;
}
.pay-head-btn>.pay-btn2{
	border: 1px solid #424874;
	background-color: #424874;
	color: #fff;
}
.pay-head-btn>.pay-btn1:hover,.pay-head-btn>.pay-btn2:hover{
	width: 100px;
	border: 1px solid #424874;
	background-color: #424874;
	color:#fff;
	opacity:0.5;
}
/* ----------------------------------------------------------------------------------- */
/* 주문자 정보 입력 */
.pay-order-info {
	margin: 20px 0;
	border: 1px solid #dcdcdc;
	border-radius: 10px;
	display: flex;
	justify-content: flex-start;
	padding: 30px 0;
}
.pay-orderer-head{
	padding-top: 10px;
	width: 30%;
	font-size: 1.5em;
	font-weight: 800;
} 
.pay-orderer-head h3{ text-align: center;}
.pay-orderer-form{
	width: 50%;
}
.form-pw{
	font-size: 1.2em;
	font-weight: 800;
}
.col-12>input{
	height:45px;
}
.form-label{
	margin-top: 5px;
	color: #868686;
	font-size: 1em;
}
.form-control:last-child{
	margin-bottom: 20px;
}

.btn-info{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 50px;
	background-color: #fff;
	border: 1px solid #dcdcdc;
}
.btn-info:hover{
	border: 1px solid #dcdcdc;
	background-color: #dcdcdc;
}

.btn-info>i {
	margin-right: 10px;
	color: #a4a4a4;
	font-weight: 500;
}

.order-pay-accordion-btn{
	font-size: 1.5em;
	font-weight: 800;
	
}
.accordion>.pay-accordion-style{
	border: 1px solid #dcdcdc;
	border-radius: 10px;
}
.accordion>.pay-accordion-style>h2{
	padding: 10px 20px 10px 80px;
	border-bottom:1px solid #dcdcdc;
	border-radius: 10px 10px 0 0;
}

.accordion-body table{ width: 100%;}
.order-product { width: 100%;}
.order-product td{
	width: 20%;
}
.order-product td:last-child{
	font-weight: 300;
	font-size: 0.8em;	
	width: 70%;
}
.pay-count{ font-weight: 800; font-size: 1.3em; margin: 0 5px; color: }
.accordion-body img{
	width: 70%;
    display: block;
   /*  margin-left: 50px; */
    border: 1px solid #dcdcdc;
    text-align: right;
}
.accordion-body td img{
	
}
.accordion-body td{
	padding: 20px;
	width: 20%;
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px dashed #dcdcdc;
}
.accordion-body td:nth-child(2){
	width: 45%;
	font-weight: 800;
	text-align: left;
	font-size: 1.1em;
}

.accordion-body td:last-child{
	font-weight: 800;
	font-size: 1.2em;
	width: 30%;
}
.accordion-body tr:last-child td{ border:none; padding-bottom:0;}

.pay-order-info:last-child{
	margin: 20px 0;
	border: 1px solid #dcdcdc;
	border-radius: 10px;
	padding: 15px 0;
	display: block;
}
.pay-order-info:last-child h3{
	width: 90%;
}
.pay-order-info:last-child>.pay-orderer-head{
	margin-bottom: 20px;
}
.paytype-btns{
	width:100%;
	padding: 30px;
	border-top: 1px solid #dcdcdc;
}



/* ----------------------------------------------------------------------------------- */
.aside {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	margin: 0 auto;
	padding: 30px;
	width: 30%;
	height: 800px;
}

.card {
	border: 1px solid #c0c0c0;
	border-radius: 10px;
}

.card-body {
	padding: 30px;
	height: 420px;
	font-size: 1.2em;
}

.aside li {
	border: none;
}

.aside ul {
	display: flex;
	justify-content: space-between;
}

.btn-primary {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	width: 100%;
	height: 50px;
	background-color: #efefef;
	color: #000;
	border: 1px solid #efefef;
}

.btn-primary:hover {
	width: 100%;
	background-color: #424874;
	border: none;
}

.line {
	margin: 10px 0;
	border: 1px solid #DCDCDC;
}

.right {
	font-weight: bold;
}

input[type='checkbox']{
  display: none;
}
input[type="checkbox"] + label {
  display: inline-block;
  width: 22px;
  height: 22px;  
  border: 1px solid #424874;
  cursor: pointer;
  border-radius: 100%;  
  position: relative;
}
input[id="check"]:checked + label::before {
  content: '\f00c';
  display: block;
  width: 22px;
  height: 22px;
  font-size: 1em;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  text-align: center;
  background-color: #424874;
  color: #fff;
  border-radius: 100%;

}
.check-wrap {
	margin: 30px 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: #424874;
	padding: 10px;
	font-size: 1.1em;
}
.check-wrap span {
	margin-left: 10px;
}
.accordion-headers, .accordion-button {
	outline: none !important;
	box-shadow: none !important;
}
.accordion-button:not(.collapsed){
	color: #000;	
	background-color: #fff;
}

.pay-accordion-body {
	height: 300px;
	overflow: scroll;
	overflow-x: hidden;
	background-color:#efefef;
	border-radius: 10px;
	margin: 10px;
	color: #686868;
}
.pay-accordion-body li {padding: 10px;}
.pay-accordion-body ul{
	font-size: 1em;
	display: block;
}
.accordion-body-head {
	color: #000;
	font-weight: 800;
	margin: 10px 0;
}
.pay-accordion-body::-webkit-scrollbar {
  width: 6px;

}

.pay-accordion-body::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 3px;
  margin: 10px;
}

.pay-accordion-body::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #808080;
}

.pay-accordion-body::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
.pay-accordion-last{
	height: auto;
	background-color:#efefef;
	border-radius: 10px;
	margin: 10px;
	color: #686868;
}