@charset "UTF-8";

body{
	margin: 0 auto;
	width: 80%;
}

#pwChangeBtn {
	background-color: #424874; 
	border: 1px solid #424874; 
	color: #DCD6F7;
}
#pwChangeBtn:hover {
	opacity: 0.7;
}
.pwChange {
	font-size: 17px;
	font-weight: 500;
	color: #424874;
}

.pwChangeNotice {
	font-size: 15px;
	font-weight: 400;
	color: #A6B1E1;
}

.find span {
	float: left;
	width: 90%;
	display: block;
	padding: 8px 0;
	font-size: 30px;
	color: #919191;
	margin: 10px 0 30px 0;
}