@charset "EUC-KR";
body{ margin: 0 auto; width: 80%;}
.search-title {
	font-size: 2em;
	padding: 30px;
	margin:10px;
	font-weight: 800;
}
.search-banner{
	margin: 50px 0;
} 

.carousel-inner{ 
	width: 100%; border-radius: 10px;
}
.searched-bookname{
	color: #A6B1E1;	
}
.carousel-indicators{
	margin: 5px 0;
	padding-right: 30px;
	display: flex;
	justify-content: flex-end;
}
.carousel-indicators>button{
	width: 10px !important;
	height: 10px !important;
}
.carousel-control-prev, .carousel-control-next{
	width: 5%;
}
/* ---------------------       컨텐츠 nav      ----------------      */
.search-nav{
	width: 100%; 
	margin-bottom: 50px;
}
.search-nav ul{border: none !important;}
.nav-tabs{
	display: flex;
	justify-content: space-between;
}
.search-nav-link{
	display:flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	font-weight: 600;
	font-size: 1.2em;
	border: 1px solid #dcdcdc !important;
	border-bottom: 2px solid #000 !important;
	color: #dcdcdc;
}
.nav-item>.active{ 
	border: 2px solid #000 !important;
	border-bottom: none !important;
}
.nav-link:hover, .nav-link:focus {
	color: #424874;
}

/* 본문   */
.view-contents{
	display: flex;
	justify-content: flex-start;
	width: 100%;
}
/* ---------------------      사이드바      ----------------      */
.search-sidebar{
	background-color: #dcdcdc;
	width: 20%;
	height: 100px;
}

/* ------------------------  본문    ------------------------  */
.search-view{
	width: 100%;
	margin: 30px 0;
	padding: 10px 30px;
}
.view-mid-head{
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-size: 1.5em;
	font-weight: 600;
}
.view-mid-head span{
	color: #A6B1E1;	
}
/* 본문 컨텐츠   */
select::-ms-expand { 
	display: none;
}
.select {
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.search-item{
	display: flex;
	justify-content: flex-end;
}
.btn-secondary{
	height: 40px;
	margin-right: 10px;
	background-color: #fff;
	color: #000;
	border:1px solid #c1c1c1;
	font-size: 0.7em;
}
.btn-secondary:hover{
	background-color: #fff;
	color: #000;
}
.dropdown-toggle::after{
	margin-left: 30px;
}
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{
	background-color: #fff;
	color: #000;
}
/* 본문 내용 */
.search-result{
	margin-top: 30px;
}
.search-result tr{
	border-top: 1px solid #dcdcdc;
}
.search-result td{ 
	padding: 30px 0;
	vertical-align: top;
}
.search-result img{
	border: 1px solid #000;
	width: 100%;
}
.bookname{ 
	font-size: 1.2em; font-weight: 700;
	padding: 10px 0;
}
.bookprice{
	display: flex;
	justify-content: flex-start;
}
.fa-period, .fa-solid{
	color: #000;
}
.bookprice p{
	margin-right: 5px;
}