@charset "EUC-KR";

body {
	margin: 0 auto;
	width: 80%;
}

.search-title {
	font-size: 2em;
	padding: 30px;
	margin: 10px;
	font-weight: 800;
}

.search-banner {
	margin: 50px 0;
}

.carousel-inner {
	width: 100%;
	border-radius: 10px;
}

.searched-bookname {
	color: #A6B1E1;
}

.carousel-indicators {
	margin: 5px 0;
	padding-right: 30px;
	display: flex;
	justify-content: flex-end;
}

.carousel-indicators>button {
	width: 10px !important;
	height: 10px !important;
}

.carousel-control-prev, .carousel-control-next {
	width: 5%;
}
/* ---------------------       컨텐츠 nav      ----------------      */
.search-nav {
	width: 100%;
	margin-bottom: 50px;
}

.search-nav ul {
	border: none !important;
}

.nav-tabs {
	display: flex;
	justify-content: space-between;
}

.search-nav-link {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	font-weight: 600;
	font-size: 1.2em;
	border: 1px solid #dcdcdc !important;
	border-bottom: 2px solid #000 !important;
	color: #dcdcdc;
}

.nav-item>.active {
	border: 2px solid #000 !important;
	border-bottom: none !important;
}

.nav-link:hover, .nav-link:focus {
	color: #424874;
	cursor: pointer;
}

/* ---------------------------------본문   */
.view-contents {
	display: flex;
	justify-content: flex-start;
	width: 100%;
}
/* ---------------------      사이드바      ----------------      */
.search-sidebar {
	width: 20%;
	font-size: 1.5em;
	font-weight: 600;
	padding: 10px;
}

.search-sidebar-head {
	padding-bottom: 20px;
	border-bottom: 1px solid #dcdcdc;
}

.search-sidebar-head p {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.search-sidebar-head button {
	font-size: 0.7em;
	color: #b0b0b0;
	font-weight: 400;
	background-color: #fff;
	border: none;
}
.search-sidebar-head button:hover{
	color: #828282;
}

/*--------------------------------=--- 사이드바 아코디언 */
.search-sidebar-benefits {
	padding: 20px 0;
	border-collapse: collapse;
}

.collapsible {
	background-color: #fff;
	cursor: pointer;
	padding: 18px 10px 18px 0;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 0.7em;
	font-weight: 600;
	border-bottom: 1px solid #dcdcdc;
}

.active, .collapsible:hover {
	color: #A6B1E1;
}

.content {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	font-size: 0.6em;
	font-weight: 400;
	border-bottom: 1px solid #dcdcdc;
}

.content label {
	display: flex;
	align-items: center;
	margin: 15px 0;
}
.content label:hover{
	font-weight: 700;
}

.content input {
	margin-right: 10px;
}

.content input[type=radio] {
	accent-color: grey;
	width: 1.5em;
	height: 1.5em;
	outline: none;
	border: 5px solid #dcdcdc;
}
/* ------------------------------------체크박스 커스텀------------------- */
input[type="checkbox"] {
	display: inline-block;
	position: relative;
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	border: 1px solid #999;
	appearance: none;
	cursor: pointer;
	/* accent-color: grey; */
}
input[type="checkbox"]:checked {
	background-color: grey;
	border: none;
}
/* input[type="checkbox"]:checked::after {
	display:block;
	content:'\f00c';
	color:#fff;
	background-color: #A6B1E1;
	border-radius: 100%;
	font-size: 1em;
	width: 1.5em;
	height: 1.5em;
	text-align: center;
} */

.content label:first-child{
	margin-top: 30px;
}
.content label:last-child{
	margin-bottom: 30px;
}

.collapsible:after {
	content: '\002B';
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.search-active:after {
	content: "\2212";
	font-weight: bold;
}

.col-box input {
	border: 1px solid #dcdcdc;
	border-radius: 5px;
	height: 38px;
	margin-bottom: 10px;
	justify-content: middle;
}

.col-box input:hover {
	border: 1px solid #9c9c9c;
}

.col-price-box {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 30px;
}

.col-price-box input {
	width: 65%;
	margin: 0 5px 0 0;
}

.col-price-box .btn-light {
	border: 1px solid #58619c;
	background-color: #fff;
}

.col-price-box .btn-light:hover {
	background-color: #A6B1E1;
	border: 1px solid #A6B1E1;
}
/* ------------------------  본문    ------------------------  */
.search-view {
	width: 100%;
	margin: 30px 0;
	padding: 20px 40px;
}

.view-mid-head {
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-size: 1.5em;
	font-weight: 600;
}

.view-mid-head span {
	color: #A6B1E1;
}
/* 본문 컨텐츠   */
select::-ms-expand {
	display: none;
}

.select {
	-o-appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.search-item {
	display: flex;
	justify-content: flex-end;
}

.btn-secondary {
	height: 40px;
	margin-right: 10px;
	background-color: #fff;
	color: #000;
	border: 1px solid #c1c1c1;
	font-size: 0.7em;
}

.btn-secondary:hover {
	background-color: #fff;
	color: #000;
}

.dropdown-toggle::after {
	margin-left: 30px;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active,
	:not (.btn-check )+.btn:active {
	background-color: #fff;
	color: #000;
}
/* 본문 내용 */
.search-result {
	margin-top: 30px;
}

.search-result tr {
	border-top: 1px solid #dcdcdc;
}

.search-result td {
	padding: 30px 0;
	vertical-align: top;
}

.search-result img {
	border: 1px solid #000;
	width: 100%;
}

.bookname, .discount-price, .discount-rate {
	font-size: 1.2em;
	font-weight: 700;
	padding: 10px 0;
	color: #000;
}

.discount-rate {
	color: #A6B1E1;
}
/* 가격  */
.bookprice {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.bookprice p {
	margin-right: 5px;
}

.publisher, .bookprice {
	color: #757575;
}

.original-price {
	text-decoration: line-through;
	font-size: 0.9em;
}

/* 목록 버튼들 */
.btns {
	height: 260px;
}

.search-heart {
	height: 40%;
	text-align: right;
	font-size: 1.5em;
}
.heartBtn {
	background-color: #fff;
	border:none;
	color: #dcdcdc;
	font-size: 1em;
}
.search-heart i:hover {
	color: #ff7d7d;
}
.xi-heart::before{
	font-size: 1em;
}
.cart-btn {
	background-color: #757575;
	border: 1px solid #757575;
}

.cart-btn:hover {
	background-color: #525252;
	border: 1px solid #525252;
}

.cart-btn:active {
	border: 1px solid #525252 !important;
}

.buy-btn {
	background-color: #58619c;
	border: 1px solid #58619c;
}

.buy-btn:hover {
	background-color: #424874;
	border: 1px solid #424874;
}

.buy-btn:active {
	border: 1px solid #424874 !important;
}