@charset "UTF-8";

main{
	
}
#breadcrumb{
	padding: 15px;
}
.book_recommand1{
	height: 200px;
	background-color: #A6B1E1;
}
.book_recommand2{
	height: 200px;
	background-color: #DCD6F7;
}
.book_recommand3{
	height: 200px;
	background-color: #F4EEFF;
}
.profileContainer{
	background-color: #F4EEFF;
	padding: 20px;
}
.profile{
	width: 150px;
}
.name{
	font-size: 20px;
	margin: 10px;
}
.menuText{
	font-size: 15px;
	padding: 40px;
}
.menuTitle{
	font-size: 18px;
	font-weight: bolder;
}
